<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}Welcome!
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{{ asset("styles/style.css") }}"> {% block stylesheets %}{% endblock %}
</head>

<body>
    <header>
        <a href="{{path('ticket_index')}}">
            <h1>Ticket Manager</h1>
        </a>

        <div>
            {% if app.user %}
            <p>
                You are logged in as
                {{ app.user.username }},
            </p>
            <a href="{{ path('app_logout') }}" class="button-small">Logout</a>
            {% else %}
            <a href="{{ path('app_register') }}" class="button">Register</a>
            <a href="{{ path('app_login') }}" class="button">Login</a>
            {% endif %}
        </div>
    </header>
    {% block body %}{% endblock %}
    <footer>
        Copyright Alice Bonnet 2019 &copy;
    </footer>
    {% block javascripts %}{% endblock %}
</body>

</html>